---
import { Post } from '../lib/interfaces.ts'
import { getDateStr } from '../lib/blog-helpers.ts'

export interface Props {
  post: Post
  alignment: 'left' | 'right'
}

const { post, alignment = 'left' } = Astro.props
---

<div class={`post-date align-${alignment}`}>
  {post.Date ? getDateStr(post.Date) : ''}
</div>

<style>
  .post-date {
    padding: 0 0 0.3rem;
    font-size: 0.9rem;
  }
  .align-left {
    text-align: left;
  }
  .align-right {
    text-align: right;
  }
</style>
